<div>
  {{#name}}
    <b class=x>
      {{name}}
    </b>
  {{/name}}
  {{#wrapper}}
    -- {{name}} --
  {{/wrapper}}
  <!--<i style="width: 200px"></i>-->
  <i data-x="x" data-y="y"></i>
  <i data-x="x y"></i>
  <i data-x={{name}}></i>
  <!--<i style="width: 200px"></i>-->
  <i data-x="test {{name}}"></i>
  <!--<i style="width: 200px"></i>-->
  <ul>
    {{#people}}
      <li>{{name}}</li>
    {{/people}}
  </ul>
  <span>
    {{#people}}la {{/people}}
  </span>
  <span>
    {{^people}}no people{{/people}}
  </span>
  <span>
    {{^animals}}no animals{{/animals}}
  </span>
  <b>{{{ noEscape }}}</b>
  <b>{{{ amp }}}</b>
  <b checked>{{{ amp }}}</b>
  <div class={{#amp}}lol{{/amp}} />
  <div {{#amp}}checked{{/amp}} />
</div>
