<div>
  <b class=x>{{name}}</b>
  <!--<i style="width: 200px"></i>-->
  <i data-x="x"></i>
  <i data-x={{name}}></i>
  <!--<i style="width: 200px"></i>-->
  <i data-x="test {{name}}"></i>
  <!--<i style="width: 200px"></i>-->
</div>
