<div>
  {{#name}}
    <b class=x>
      {{name}}
    </b>
  {{/name}}
  {{#wrapper}}
    -- {{name}} --
  {{/wrapper}}
  <!--<i style="width: 200px"></i>-->
  <i data-x="x"></i>
  <i data-x={{name}}></i>
  <!--<i style="width: 200px"></i>-->
  <i data-x="test {{name}}"></i>
  <!--<i style="width: 200px"></i>-->
  <ul>
    {{#people}}
      <li>{{name}}</li>
    {{/people}}
  </ul>
  <span>
    {{#people}}la {{/people}}
  </span>
</div>
